* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 15px;
}

body {
  color: #444;
}

.container {
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
}

.inbox {
  margin-top: 4rem;
}

.email {
  padding: 0.25rem 1rem;
  border-radius: 5px;
}

.email--expand {
  padding: 1rem;
  background-color: #eee;
}

.email__head {
  display: flex;
  align-items: center;
}

.email__icon {
  width: 48px;
  height: 48px;
  margin-right: 1rem;
  outline: none;
  border: none;
  background: transparent;
  background-size: contain;
  cursor: pointer;
}

.email__icon:hover {
  transform: scale(1.1);
}

.email__icon--closed {
  background-image: url('img/email-closed.svg');
}

.email__icon--opened {
  background-image: url('img/email-opened.svg');
}

.email__info {
  flex: 1;
}

.email__sender {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.email__body {
  display: none;
  padding: 0.5rem;
}

.email--expand .email__body {
  display: block;
}
